<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Node Mongo App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Data List</h1>
    <ul class="list-group mb-4">
      <% data.forEach(function(item) { %>
        <li class="list-group-item"><%= item.name %></li>
      <% }) %>
    </ul>
    <h2>Add Data</h2>
    <form action="/data" method="post" class="mb-3">
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Enter name" required>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
